.shipping-page .container {
    padding-top: 170px;
    padding-bottom: 170px;
}

.form-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    width: 400px;
    font-size: 38px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}

.form-container .form {
    margin-top: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form .form-field {
    display: flex;
    flex-direction: column;
}

.form-container .form .form-field label {
    color: var(--dark-grayish-cyan);
    margin-bottom: 7px;
}

.form-container .form .form-field input {
    height: 40px;
    border: none;
    color: var(--dark-grayish-cyan);
    background-color: rgba(145, 183, 184, 0.23);
    padding: 10px;
    font-size: 17px;
    border-radius: 4px;
}

.form-container .form .form-field input[type="file"] {
    display: none;
}

.form-container .form .form-field .custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(145, 183, 184, 0.23);
    color: var(--dark-grayish-cyan);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    position: relative;
    margin-top: 30px;
}

.form-container .form .form-field .custom-file-label::before {
    content: "Image";
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--dark-grayish-cyan);
    left: 0;
    top: -28px;
}

.form-container .form .form-field .custom-file-label:hover {
    background-color: rgba(145, 183, 184, 0.5);
}

.form-container .form .form-field input:focus {
    outline: rgba(145, 183, 184) solid 2px;
}

.form-field #submit {
    width: 150px;
    background-color: var(--dark-blue-gray);
    color: white;
    cursor: pointer;
    border: none;
}

@media (max-width: 992px) {
    .shipping-page .container {
        padding-top: 110px;
        padding-bottom: 110px;
    }

}

@media (max-width: 768px) {
    .form-title {
        width: 100%;
        font-size: 26px;
    }

    .form-container .form {
        width: 100%;
    }

    .form-field #submit {
        width: 130px;
    }

    .form-container .form .form-field input {
        font-size: 14px;
    }
}