.order-item {
    display: grid;
    grid-template-columns: 70px 300px 200px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.order-item:not(:last-child) {
    border-bottom: 1px solid var(--dark-grayish-cyan);
}

.order-item img {
    width: 100%;
}

@media (max-width: 768px) {
    .order-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .order-item img {
        max-width: 180px;
    }

    .order-item .item-name {
        max-width: 400px;
    }
}